#secondHeader{
    background-color: #271C54;
    display: grid;
    grid-template-columns: .8fr repeat(4,1fr) .5fr;
}

.header2_logo{
    width: 8vw;
    padding-left: 2vw;
}

#secondHeader a{
    text-decoration: none;
    color: #9747FF;
    text-transform: uppercase;
    transition: color linear .2s;
}

#secondHeader a:hover{
    color: #B99FAA;
}

#secondHeader a:nth-child(n+2):not(.auth_link){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
}

.auth_link{
    display: flex;
    justify-content: right;
    padding: 2vw;
    font-size: .9vw;
}