/*Index*/

.index_pic{
    border-radius: 2vw;
    width: 20vw;
    height: 30vw;
    transition: .5s;
}

.index_pic:hover{
    transform: scale(1.2);
}

.index_pic_row{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.IndexMain>section:nth-child(2)>div{
    padding-bottom: 4vw;
}

.IndexMain>section{
    padding-top: 2vw;
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.1vw;
}

/*Contacts*/

.ContactMain>section:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 1.5vw;
    padding-bottom: 1.3vw;
}

.ContactMain>section:nth-child(2)>img{
    width: 50vw;
    padding-right: 1.3vw;
    padding-left: 4vw;
}

.ContactMain h1{
    font-size: 2vw;
    margin: 0;
    padding-bottom: 1vw;
    color: #271C54;
    padding-left: 1vw;
}

.frame{
    width: 30vw;
    height: 30vw;
    margin-left: 4vw;
}

/*Films*/

.FilmsMain{
}

.FilmsMain section{
    margin-top: 1vw;
    margin-left: 2vw;
    padding-right: 2vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1vw;
}

.FilmsMain section>a{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1vw;
    text-decoration: none;
}

.FilmsMain section>a p:nth-child(1){
    color: black;
    margin: 0;
    padding-bottom: .3vw;
}

.FilmsMain section>a p:nth-child(2){
    color: #5f5f5f;
    margin: 0;
}

.Films_main_film{
    padding-left: 2vw;
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url("../img/parma2.jpg");
    width: 35vw;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 1vw;
    height: 20vw;
}

.Films_main_film_disc{
    background: linear-gradient(90deg, #271C54 60.02%, rgba(81, 81, 81, 0) 100%);
    height: 19vw;
    border-radius: 1vw;
    padding: .5vw;
    color: white;
}
.Films_main_film_disc>p{
    width: 15vw;
    padding-left: 1vw;
    font-size: .7vw;
}

.Films_main_film_disc>h4{
    font-size: 2vw;
    margin: 0;
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
}

.Films_main_film_disc a{
    display: block;
    background-color: #9747FF;
    text-decoration: none;
    color: #271C54;
    width: 5vw;
    height: 2vw;
    text-align: center;
    margin-top: 4vw;
    margin-left: 1vw;
    font-size: 1vw;
    padding-top: .6vw;
    border-radius: .3vw;
}

.film_pic{
    width: 15vw;
    height: 21vw;
    border-radius: 1vw;
}

.Film_One{
    display: grid;
    grid-template-columns: 45vw 45vw;
    padding-bottom: 1vw;
}

.Film_One>img{
    width: 40vw;
    grid-row-start: 1;
    grid-row-end: 9;
    display: flex;
    align-self: center;
}

.Film_One>iframe{
    width: 30vw;
    height: 20vw;
}

.Film_One>h2{
    font-size: 2vw;
}

.Film_One>p{
    font-size: 1vw;
}
/*Schedule*/

.ScheduleMain>section:nth-child(1){
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 40vw;
}

.ScheduleMain>section:nth-child(1) button{
    color: #515151;
    font-size: 1vw;
    text-transform: uppercase;
    border: none;
    background-color: rgba(1,1,1,0);
    cursor: pointer;
}

.is_chosen{
    display: block;
    border: .1vw solid #9747FF !important;
    color: #9747FF !important;
    padding: .3vw;
    text-transform: uppercase;
    cursor: pointer;
}

.schedule_disc>p:nth-child(1){
    font-size: 1vw;
    margin: 0;
    padding-bottom: .3vw;
    color: black;
}

.schedule_disc>p:nth-child(2){
    color: #5f5f5f;
    margin: 0;
    font-size: 1vw;
}

.schedule_time{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-right: 4vw;
    grid-row-gap: .4vw;
    padding-bottom: 1vw;
}

.schedule_time>a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: .9vw;
    background-color: #9747FF;
    border-radius: .5vw;
    width: 4vw;
    height: 1.5vw;
    padding-left: .3vw;
    padding-top: .3vw;
    padding-right: .3vw;
    text-align: center;
}

/*News*/

.NewsMain section{
    margin-top: 1vw;
    margin-left: 2vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1vw;
}

.NewsMain a{
    padding: 0;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.News_first{
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url("../img/beatles.webp");
    width: 44vw;
    height: 29.8vw;
    background-size: cover;
    border-radius: 1vw;
    margin-left: 2vw;
    box-shadow: inset 0 2vw 30vw #000000;
}

.news_text{
    font-size: 2vw !important;
    font-weight: bold;
    padding-top: 20vw !important;
    background: none !important;
    color: white;
    width: 35vw !important;
}

.NewsMain>section>a>img{
    width: 20vw;
    border-radius: 1vw 1vw 0 0;
}

.NewsMain>section>a>div{
    display: block;
    height: 19.3vw;
    width: 20vw;
    border-radius: 0 0 1vw 1vw;
    background-color: white;
    margin-top: -1vw;
    margin-bottom: 1vw;
}

.NewsMain>section>a>div>p{
    padding-top: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    width: 15vw;
    text-align: left;
    padding-left: 1vw;
    margin: 0;
}

.News_One{
    display: grid;
    grid-template-columns: 45vw 50vw;
}

.News_One>h2{
    font-size: 2vw;
}

.News_One>p{
    font-size: 1vw;
}

.News_One>img{
    width: 40vw;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    align-self: center;
}

/*Profile*/

.ProfileMain{
    display: grid;
    grid-template-rows: 30vw 10vw 40vw;
    grid-template-columns: 1fr 1fr;
    height: 100% !important;
    padding-bottom: 10vw;
}

.change_pass{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.change_data{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.h1_profile_data{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

/*Booking*/

.Booking_seats{
    display: grid;
    grid-template-columns: repeat(8,4vw);
    grid-row-gap: 1.5vw;
    padding-bottom: 1vw;
}

.seat{
    width: 3vw;
    height: 3vw;
    border-radius: 1vw;
    background-color: #9747FF;
    cursor: pointer;
    border: none;
}

.is_booked{
    background-color: #271C54;
}

.seat_gap{
grid-column-start: 1;
}